<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='application.css') }}">
    <title>Home</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" for="/">
    <meta http-equiv="Pragma" content="no-cache" for="/">
    <meta http-equiv="Expires" content="0" for="/">
</head>
<body>
    <div id="menuButton">
        <i class="fas fa-expand fa-beat" title="Expand Menu"></i><br><br>
        <a href="/" class="icons"><i class="fas fa-train-tram" title="RNA site"></i></a><br><br>
        <i class="fas fa-envelope" title="Contact Us"></i><br><br>
        <i class="fas fa-comment" title="Feedback"></i><br><br>
        <i class="fas fa-star" title="Features"></i>
    </div>
    <div class="myBody right">
        <h1>RNA RAILWAY SITE</h1>
        <p>You have been logged out successfully. You'll be automatically redirected to Home page in 3 seconds.</p>
    </div>
</body>
<script>
    setTimeout(function () {
        window.location.href = '/';  
    }, 3000);  
</script>
</html>
